.WhatPeopleAreSayingCard{
    display: flex;
    flex-direction: column;
    gap: max(20px, 1vw);
    border-radius: max(16px, 0.8vw);
    background-color: #fff;
    padding: max(32px, 1.6vw);
    height: 100%;
    
    * {
        color: #1F1F1F;
    }
    .WhatPeopleAreSayingCard__stars{
        width: max(97px, 4.85vw);
        content: url('../../../assets/shared/Star.svg');
    }

    .WhatPeopleAreSayingCard__2{
        display: flex;
        flex-direction: column;
        gap: max(13px, 0.65vw);

        .with16Regular {
            line-height: max(26px, 1.3vw);
        }
    }

    .WhatPeopleAreSayingCard__3 {
        display: flex;
        flex-direction: column;
        gap: max(9px, 0.45vw);
        margin-top: auto;
        .with12Regular {
            color: #A0A0A0;
        }
    }
}